.footer {
    color: var(--white);
    background-color: var(--background);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer a {
    transition: transform 0.5s;
    
}

.footer a:hover {
    transform: scale(1.1);
}

.footer p {
    margin-top: 10px;
    color: var(--white);
}

.footer p span {
    color: var(--dark--gray);
    font-weight: bold;
}