.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--gray);
    margin: 15px 0;
    padding: 0 18px;
    box-sizing: border-box;
}

.input, .label {
    font-size: 1.75em;
}

.input::placeholder {
    color: var(--dark--gray);
}