.button {
    cursor: pointer;
    background-color: var(--light--blue);
    color: var(--white);
    font-weight: bold;
    border: none;
    font-size: 2em;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    transition: 0.5s;
    display: block;
    margin-left: 24px;
    
}

.button:hover {
    background-color: var(--dark--blue);

}