.textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    /* background-color: var(--text); */
    background-color: var(--gray);
    margin: 15px 0;
    padding: 0 18px;
    box-sizing: border-box;
    /* border: none; */
}

.textarea, .label {
    font-size: 1.75em;
    /* color: var(--white); */
    color: buttonface;
}