body {
    background-color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

.container {
    width: 950px;
    /* align-items: center; */
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
}

ul {
    list-style: none;
}

form label,
form input,
button {
    display: block;
}