@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --background: #009FA8;
  --background2: #fafafa;
  --white: #ffffff;

  --light--gray: #f0f0f0;
  --gray: #e1e1e6;
  --dark--gray: #252525;

  --light--blue: #6bbff4;
  --dark--blue: #0693e3;

  /* 
    --background: #121214;
    --background2: #202020;
    --white: #fff;
    --gray: #e1e1e6;
    --text: #a8a8b3;
    --green: #04d361;
    --blue: #4863f7; 
    */
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background2);
}

h1 {
  font-size: 2.5em;
  color: var(--dark--gray);
}

h2 {
  font-size: 2em;
  color: var(--dark--gray);
}

p,
a {
  font-size: 1.5em;
  color: var(--dark--gray);

}
