@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --background: #121214;
    --background2: #202020;
    --white: #fff;
    --gray: #e1e1e6;
    --text: #a8a8b3;

    --primary: #8257e5;
    --primary-darker: #28203e;
    --primary-hover: #9466ff;
    --primary-border: #6833e4;
    --primary-shape: #734bd1;
    --primary-light: #996dff;
    --discover: #6a80ff;

    --discover-blue: #4863f7;

    --green: #04d361;
    --ignite-green: #00875f;
    --ignite-light: #00b37e;
    --ignite-dark: #015f43;
    --ignite-low: #00291d;
    --ignite-mid: #00875f;
 
} 

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background2);
    /* background-color: #202020; */
}

h1 {
    font-size: 2.5em;
    color: var(--gray);
}

h2 {
    font-size: 2em;
    color: var(--gray);
}

p, a {
    font-size: 1.5em;
    color: var(--gray);

}
